<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
    background-image: url("https://media.giphy.com/media/ZwMF9XIF7eo9i/giphy.gif");
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    padding:0;
    margin:0;
}
not-found {
    font-weight: bold;
    font-size: 100px;
    font-family: sans-serif;
    color: #dddddd;
}
    </style>
    <title>NOT FOUND</title>
</head>
<body>
    <not-found>NOT FOUND</not-found>
</body>
</html>