<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>no added sugar</title>
</head>
<body>
    <h1>/*/ blog post */*</h1>
    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title">
        </label>
        <label>
            <div>message</div>
            <textarea name="message"></textarea>
        </label>
        <br>
        <input type="submit">
        <br>
        <div class="error">{{error}}</div>
    </form>
</body>
</html>