{% extends "base.html" %}
{% block content %}
    <h1><marquee>/*/ submit blog post */*</marquee></h1>
    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        <label>
            <div>message</div>
            <textarea name="message">{{message}}</textarea>
        </label>
        <br>
        <input type="submit">
        <br><br>
        <div class="error">{{error}}</div>
    </form>
    <hr>
{% endblock %}